In [2]:
import pandas as pd
from io import StringIO

In [ ]:
# 이런 형식으로도 데이터가 만들어지네?

In [4]:
csv_data = '''A,B,C,D
                1.0,2.0,3.0,4.0
                5.0,6.0,,8.0
                10.0,11.0,12.0,'''

In [5]:
df = pd.read_csv(StringIO(csv_data))

In [6]:
df

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

In [12]:
df.isnull()

       A      B      C      D
0  False  False  False  False
1  False  False   True  False
2  False  False  False   True

In [13]:
df.isnull().sum()

A    0
B    0
C    1
D    1
dtype: int64

In [14]:
# 누락된 값이 있는 샘플&특성 제외

In [15]:
df.dropna(axis=0) #누락된 값이 있는 행을 삭제

     A    B    C    D
0  1.0  2.0  3.0  4.0

In [16]:
df.dropna(axis=1) #누락된 값이 있는 열을 삭제

      A     B
0   1.0   2.0
1   5.0   6.0
2  10.0  11.0

df.dropna(how='all') #모든 열이 NaN일 때만 행을 삭제합니다
df.dropna(thresh=4) #실수 값이 4개보다 작은 행을 전부 삭제합니다
df.dropna(subset=['C']) #특정 열(C열)에 있는 행만 삭제합니다.

In [20]:
df.dropna(thresh=3)

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

In [ ]:
# 누락된 값 대체 = 보간기법(interpolation)

In [21]:
# 1. 평균으로 대체

In [22]:
from sklearn.preprocessing import Imputer

In [23]:
imr = Imputer(missing_values='NaN', strategy='mean', axis=0)

C:\Users\user\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [24]:
imr = imr.fit(df.values)

In [25]:
imputed_data = imr.transform(df.values)
imputed_data

array([[ 1. ,  2. ,  3. ,  4. ],
       [ 5. ,  6. ,  7.5,  8. ],
       [10. , 11. , 12. ,  6. ]])