In [ ]:
[과제] Q. "dataset/5_2_shoes.csv" 을 데이터프레임으로 불러와서 아래작업을 수행하세요.

4행 3열을 복사하여 수직으로 결합하여 8행 3열의 데이터프레임 df로 만드세요.
교차분석표를 만드세요(values='sales',aggfunc='sum', index= 'store', columns = 'color')
독립성 검정을 수행하세요.

In [1]:
import pandas as pd
from scipy import stats

In [2]:
df = pd.read_csv('C:/caba2012/workspace/Caba_stat/dataset-20210111T020713Z-001/dataset/5_2_shoes.csv')

In [3]:
df

   store color  sales
0  tokyo  blue     10
1  tokyo   red     15
2  osaka  blue     13
3  osaka   red      9

In [4]:
# 데이터 복사
shoes = df.copy()
shoes

   store color  sales
0  tokyo  blue     10
1  tokyo   red     15
2  osaka  blue     13
3  osaka   red      9

In [5]:
# 데이터 결합
df2 = pd.concat([df, shoes])

In [6]:
df2

   store color  sales
0  tokyo  blue     10
1  tokyo   red     15
2  osaka  blue     13
3  osaka   red      9
0  tokyo  blue     10
1  tokyo   red     15
2  osaka  blue     13
3  osaka   red      9

In [8]:
#교차분석표 생성
cross = pd.pivot_table(data=df2, values='sales',aggfunc='sum', index= 'store', columns = 'color')

In [9]:
#독립성 검정 실시
stats.chi2_contingency(cross, correction=False)

(3.413537549407115,
 0.06466368573255789,
 1,
 array([[21.53191489, 22.46808511],
        [24.46808511, 25.53191489]]))