In [ ]:
DataFrame의 값 선택하기

In [5]:
import numpy as np
import pandas as pd

In [6]:
data = pd.DataFrame(np.arange(16).reshape((4,4)), index=['Ohio', 'Colorado', 'Utah', 'New York'], 
columns=['one', 'two', 'three', 'four'])

In [12]:
df = data
df

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [11]:
# df[val]: DataFrame에서 하나의 컬럼 또는 열 컬럼을 선택한다. 
# 편의를 위해 불리언 배열, 슬라이스,불리언 DataFrame(어떤 기준에 근거해서 값을 대입해야 할 때)을 사용할 수 있다.
df['two']

Ohio         1
Colorado     5
Utah         9
New York    13
Name: two, dtype: int32

In [15]:
# df.loc[val]: DataFrame에서 라벨값으로 로우의 부분집합을 선택한다
df.loc['Utah']

one       8
two       9
three    10
four     11
Name: Utah, dtype: int32

In [16]:
df.loc['Utah', ['one', 'two']]

one    8
two    9
Name: Utah, dtype: int32

In [ ]:
# df.loc[:, val]: DataFrame에서 라벨값으로 '컬럼'의 부분집합을 선택한다.

In [17]:
df.loc[:, ['one', 'two']]

          one  two
Ohio        0    1
Colorado    4    5
Utah        8    9
New York   12   13

In [ ]:
# df.loc[val1, val2]: DataFrame에서 라벨값으로 '로우'와 컬럼'의 부분집합을 선택한다.

In [19]:
df.loc['New York', ['one', 'two', 'three']]

one      12
two      13
three    14
Name: New York, dtype: int32

In [ ]:
# df.iloc[where]: DataFrame에서 정수색인으로 '로우'의 부분집합을 선택한다.

In [21]:
df.iloc[3]

one      12
two      13
three    14
four     15
Name: New York, dtype: int32

In [ ]:
# df.iloc[:, where]: DataFrame에서 정수색인으로 '컬럼'의 부분집합을 선택한다.

In [24]:
df.iloc[:, 3]

Ohio         3
Colorado     7
Utah        11
New York    15
Name: four, dtype: int32

In [ ]:
# df.iloc[where_i, where_j]: DataFrame에서 정수색인으로 '로우'와 컬럼'의 부분집합을 선택한다.

In [25]:
df.iloc[2, [3,0,1]]

four    11
one      8
two      9
Name: Utah, dtype: int32

In [ ]:
# df.at[label_i, label_j]: '로우'와 '컬럼'의 라벨로 단일 값을 선택한다
# reindex 메서드: 하나 이상의 축을 새로운 색인으로 맞춘다
# get_value, set_value 메서드: 로우와 컬럼 이름으로 DataFrame의 값을 선택한다.