In [ ]:
#map, applymap 함수 다양한 예제로 활용해보기

In [ ]:
# map: dataframe에서 한가지 값만 바꿀 때 사용
# applymap: datafrmae에서 전체 값만 바꿀 때 사용

In [4]:
import pandas as pd

In [5]:
date_list = [{'date': '2000-06-27'},
            {'date': '2002-90-24'},
            {'date': '2005-12-20'}]

In [6]:
df = pd.DataFrame(date_list, columns = ['date'])

In [7]:
df

         date
0  2000-06-27
1  2002-90-24
2  2005-12-20

In [8]:
def extract_year(date):
    return date.split('-')[0]

In [9]:
df['year'] = df['date'].map(extract_year)

In [10]:
df

         date  year
0  2000-06-27  2000
1  2002-90-24  2002
2  2005-12-20  2005

In [11]:
job_list = [{'age': 20, 'job' : 'student'},
           {'age': 30, 'job' : 'developer'},
            {'age': 30, 'job' : 'teacher'}]

In [12]:
df = pd.DataFrame(job_list)

In [13]:
df

   age        job
0   20    student
1   30  developer
2   30    teacher

In [14]:
df.job = df.job.map({'student':1, "developer": 2, "teacher":3})

In [15]:
df

   age  job
0   20    1
1   30    2
2   30    3

In [17]:
x_y = [{'x':5.5, 'y':-5.6, 'z': -1.1},
      {'x':-5.2, 'y':5.5, 'z': -2.2},
      {'x':-1.6, 'y':-4.5, 'z': -3.3},]

In [18]:
df = pd.DataFrame(x_y)

In [19]:
df

     x    y    z
0  5.5 -5.6 -1.1
1 -5.2  5.5 -2.2
2 -1.6 -4.5 -3.3

In [7]:
import numpy as np

In [8]:
df = df.applymap(np.around) #난 df의 값 전체를 바꿀거

TypeError: ("ufunc 'rint' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''", 'occurred at index date')

In [ ]:
# 모든 값에 특정값 applymap
# 하나의 값, map