In [ ]:
# 데이터프레임 파일로 저장하기

In [2]:
import pandas as pd

In [3]:
friends = [{'name': 'Jone', 'age': 20,'job': 'studnet'},
           {'name': 'Jenny', 'age': 30,'job': None},
           {'name': 'Nate', 'age': 30,'job': 'teacher'}]

df = pd.DataFrame(friends)
df = df[['name', 'age', 'job']]

In [4]:
df.head()

    name  age      job
0   Jone   20  studnet
1  Jenny   30     None
2   Nate   30  teacher

In [9]:
data1 = df.to_csv('./friends.csv', index = True, header = True)

In [8]:
df.to_csv('./friends2.csv', index = False, header = True)

In [ ]:
#na_rep: None값을 '-'로 표현해라

In [ ]:
df.to_csv('./friends2.csv', index = False, header = True, na_rep = '_')