In [ ]:
# 정렬과 순위

In [1]:
import pandas as pd

In [2]:
obj = pd.Series(range(4), index = ['d', 'a', 'b', 'c'])

In [ ]:
# sort_index() 로우나 컬럼의 색인을 알파벳순으로 정렬

In [3]:
obj.sort_index()

a    1
b    2
c    3
d    0
dtype: int64

In [4]:
obj = pd.Series([4, 7, -3, 2])

In [ ]:
# sort_values(): 객체를 값에 따라 정렬

In [5]:
obj.sort_values()

2   -3
3    2
0    4
1    7
dtype: int64

In [ ]:
# sort_values(by=''): 하나 이상의 컬럼에 있는 값을 정렬 하는 경우 사용

In [6]:
frame = pd.DataFrame({'b' : [4,7,-3,2], 'a':[0,1,0,1]})

In [7]:
frame

   b  a
0  4  0
1  7  1
2 -3  0
3  2  1

In [8]:
frame.sort_values(by='b')

   b  a
2 -3  0
3  2  1
0  4  0
1  7  1

In [9]:
frame.sort_values(by='a')

   b  a
0  4  0
2 -3  0
1  7  1
3  2  1

In [ ]:
# 여러 개의 컬럼을 정렬하려면 '리스트'로 전달하면 된다

In [13]:
frame.sort_values(by=['a','b'])

   b  a
2 -3  0
0  4  0
3  2  1
1  7  1

In [14]:
obj = pd.Series([7, -5, 7, 4, 2, 0, 4])

In [15]:
obj.rank()

0    6.5
1    1.0
2    6.5
3    4.5
4    3.0
5    2.0
6    4.5
dtype: float64