In [ ]:
# 데이터그룹 만들기

In [1]:
import pandas as pd

In [4]:
student_list = [{'name': 'john', 'major': "computer science", 'sex': "male"},
                {'name': 'nate', 'major': "computer science", 'sex': "male"},
                {'name': 'Abraham', 'major': "Physics", 'sex': "male"},
                {'name': 'Brian', 'major': "Psychology", 'sex': "male"},
                {'name': 'Janny', 'major': "Economics", 'sex': "female"},
                {'name': 'Yuna', 'major': "Economics", 'sex': "female"},
                {'name': 'Jeniffer', 'major': "Economics", 'sex': "female"},
                {'name': 'Edward', 'major': "computer science", 'sex': "male"},
                {'name': 'Zara', 'major': "Psychology", 'sex': "female"},
                {'name': 'Wendy', 'major': "Economics", 'sex': "female"},
                {'name': 'Sera', 'major': "Psychology", 'sex': "female"}]

In [5]:
df = pd.DataFrame(student_list, columns = ['name', 'major', 'sex'])

In [6]:
df

        name             major     sex
0       john  computer science    male
1       nate  computer science    male
2    Abraham           Physics    male
3      Brian        Psychology    male
4      Janny         Economics  female
5       Yuna         Economics  female
6   Jeniffer         Economics  female
7     Edward  computer science    male
8       Zara        Psychology  female
9      Wendy         Economics  female
10      Sera        Psychology  female

In [10]:
groupby_major = df.groupby('major')

In [11]:
groupby_major.groups

{'Economics': Int64Index([4, 5, 6, 9], dtype='int64'),
 'Physics': Int64Index([2], dtype='int64'),
 'Psychology': Int64Index([3, 8, 10], dtype='int64'),
 'computer science': Int64Index([0, 1, 7], dtype='int64')}

In [24]:
for name, group in groupby_major:
    print(name + " : " + str(len(group)))
    print(group)
    print()

Economics : 4
       name      major     sex
4     Janny  Economics  female
5      Yuna  Economics  female
6  Jeniffer  Economics  female
9     Wendy  Economics  female

Physics : 1
      name    major   sex
2  Abraham  Physics  male

Psychology : 3
     name       major     sex
3   Brian  Psychology    male
8    Zara  Psychology  female
10   Sera  Psychology  female

computer science : 3
     name             major   sex
0    john  computer science  male
1    nate  computer science  male
7  Edward  computer science  male

In [14]:
df_major_cnt = pd.DataFrame({'count' : groupby_major.size()}).reset_index()

In [16]:
df_major_cnt

              major  count
0         Economics      4
1           Physics      1
2        Psychology      3
3  computer science      3

In [18]:
groupby_sex = df.groupby('sex')

In [19]:
for name, group in groupby_sex:
    print(name + " : " + str(len(group)))
    print(group)
    print()

female : 6
        name       major     sex
4      Janny   Economics  female
5       Yuna   Economics  female
6   Jeniffer   Economics  female
8       Zara  Psychology  female
9      Wendy   Economics  female
10      Sera  Psychology  female

male : 5
      name             major   sex
0     john  computer science  male
1     nate  computer science  male
2  Abraham           Physics  male
3    Brian        Psychology  male
7   Edward  computer science  male